<section class="container">
  <img src='./assets/img/small-burger.jpg' alt='a delicious burger' id='jumbo-burger' class='float-right'>
  <div class="jumbotron">
    <h1 class="display-4" id="burger-title">
      BURGERS! EAT THEM!
    </h1>
    <p class="lead">My favorite food? Hamburgers, hands down.</p>
    <hr class="my-4">
    <p>Hamburgers and cheeseburgers are the best.</p>
  </div>
</section>


<main class="container-fluid">


  <section class='row'>

    <div class='col-md-6'>
      <form>
        <div class="form-group">
          <label for="new-burger" class='cursive'>Enter a new burger!</label>
          <input type="text" class="form-control" id="new-burger">
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="devour-check" name="devour-check" value="yes">
          <label class="form-check-label cursive" for="devour-check">Devour Immediately?</label>
        </div>
        <button type="submit" id='burger-submit' class="float-right btn btn-success">Submit a burger</button>
      </form>
    </div>

  </section>


  <section class="row burg-list">
    <ul class="col-md-6 available-burgers list-group">
      {{#each burgArray}}
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-front">
               {{burger_name}}
            </div>
            <div class="flip-back">
              {{!-- <img src="" class="menu-img" alt=""> --}}
              <button type=button class="burger-devour-btn btn btn-info float-right" id='devour-btn-{{id}}' data-value='{{id}}'>
                Devour this burger!
              </button>
                {{burger_description}}
            </div>
          </div>
        </div>
      {{/each}}
    </ul>

    <ul class='col-md-6 devoured-burgers list-group'>
      {{#each devouredBurgArray}}
      <li class="list-group-item-danger list-group-item">
        {{burger_name}}
        <button type=button class="burger-destroy-btn btn btn-info float-right" id='destroy-btn-{{id}}'
          data-value='{{id}}'>Purge this burger!</button>
      </li>
      {{/each}}
    </ul>
  </section>

</main>

<footer class='text-center'>
  Designed By Kevin Miller
</footer>